
.head{
    width:90%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    text-align: justify;
    /* border: 1px solid black; */

}
.headingtext{
    width: 700px;
    font-size: 20px;
    margin:auto;
    text-align: center;
    background-color: #ffffff;
    margin-top: 100px;


}
.headingtext>h1{
    color: #444;
    font-size: 35px;
    font-weight: 700;

}
.headingtext>p{
    margin-bottom: 15px;
    color: #777;
    line-height: 27px;
    text-align: center;
    font-size: 15px;

}
.videodiv{
    width: 500px;
    /* height: 200px; */
    border-radius:10px ;

}
.videodiv>iframe{
    width: 100%;
    height: 300px;
    border-radius:10px ;


}
.rightarea{
    width: 600px;
    margin-top: -10px;

}
.rightarea>p:nth-child(1){
    font-size: 22px;
    font-family: sans-serif;
}
.rightarea>p:nth-child(2){
    color: #777;
    font-size: 18px;
}

.raisefundparent1{
    margin-top: 30px;
    border-radius: 15px;
    width: 500px;
    margin-left: 30px;
    background-color:#fff;
    padding: 4%;
    box-shadow: 2px 2px 2px 2px rgba(219, 218, 218, 0.514);
    padding-bottom: 20px;
    border: 1px solid rgba(185, 182, 182, 0.39);

}
.img1>h1{
    font-size: 15px;
}

.img1>img{
    height: 110px;
    width: 140px;
    margin-left: -15px;
    border-radius: 10px;
}
.imgtext>h1{
font-size:20px ;
font-weight: bolder;
}
.imgtext>p{
    font-size: 15px;
    color: #777;

}
.imgtext>h2{
    font-size: 17px;
    font-weight: bolder;

}

.par2{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    /* margin-top: 30px; */

} 
.dash{
    width: 400px;
    height: 3px;
    border-bottom: 2px solid #eeebeb;
}
.par3{
    width: 450px;
    margin: auto;
}
.par3>p:nth-child(1){
     font-size: 15px;
     font-weight: bold;   
}
.par3>p:nth-child(2){
    font-size: 15px;
    color:#444 ;
      --primary-font-family: 'Source Sans Pro', sans-serif;
}
.para1{
    font-size: 18px;
    margin-left:260px;
    color:#01bfbd;
    font-size: 20px;
    font-weight: 600;
    

}
a{
    color: #01bfbd;
    text-decoration: #01bfbd;
    
}


.main{
    display: flex;
    /* width: 80%; */
}
.feature{
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.feature>div{
    margin-bottom: 10px;
    margin-top: 400px;
}


