#hidden{
   
display: none;
transition: ease 0.10s;
position: absolute;
border: 1px solid rgba(197, 196, 196, 0.322);
z-index: 5;
width: 150px;
padding-left: 10px;
background-color: white;
border-radius: 5px;

}
#hidden:hover{
display: block;

}
#hidden p{
color: rgb(66, 64, 64);
font-size: 15px;

}
#hidden p:hover{
color: rgb(2,179,179);
cursor: pointer;
}

.parent:hover + #hidden{
    transition: ease 0.5s;
display: block;
}
