.Container {
  width: 25%;
  /* height: 500px; */
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  cursor: pointer;

}
.header{
  padding: 1%;
}

.Container > .imgprofile,
.imgprofile1,
.imgprofile2,
.imgprofile3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Container:hover {
  box-shadow: 0 7px 14px rgb(0 0 0 / 10%);
}

/* .img1 {
  /* height: 150px; */


.img1 > img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.imgprofile,
.imgprofile1,
.imgprofile2,
.imgprofile3 {
  display: flex;
  margin-left: 5px;
}

.imgprofile > img {
  border-radius: 50%;
  height: 50px;
}

.imgprofile > p {
  margin-left: 3px;
}

.imgprofile2,
.imgprofile3 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.imgprofile3 > button {
  height: 40px;
  width: 110px;
  margin-top: 10px;
}

.head {
  margin-top: 35px;
  margin-left: 10px;
}

/* //data.jsx */

/* .data {
  display: flex;
  margin-left: 200px;
  gap: 50px;
  border: 1px solid black;
} */


.delete {
  background-color: #01bfbd;
  border: #01bfbd;
  color: white;
  border-radius: 2px;
}
  .data{
    width: 100%;
    margin: auto;
    margin-top: 240px;
    /* padding: 1%; */
    display: flex;
    /* padding-left: 12%; */
    justify-content: space-evenly;

}
.data > div{
    margin: 10px;
}
.Container{
    width:25%;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    /* padding: 1%; */


}
.Container>.imgprofile,.imgprofile1,.imgprofile2,.imgprofile3{
    padding-left:10px ;
    padding-right:10px ;
    padding-top: 5px;
    padding-bottom: 5px;

}

.share {
  border: 1px solid #3b5998;
  color: #3b5998;
  border-radius: 2px;
}

.progress {
  width: 230px;
}



.Container:hover{
    box-shadow: 0 7px 14px rgb(0 0 0 / 10%);
}

.img1{
    height:150px;

    

}
 .img1 > img{
    width:100%;
 }

.boss {
  display: grid;
  grid-template-columns: 60% 25%;
  gap: 30px;
  margin:auto;
  margin-top: 20px;
  /* height: 4000px; */
  color: #444;

}
.left {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  height: 100%;
}

.left > img {
  height: 400px;
  margin-left: 100px;
}

.btn > button {
  width: 110px;
  font-size: 10px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  color: grey;
  border: none;
  cursor: pointer;

}




.contribute {
  width: 100%;
  height: 65px;
  font-size: 20px;
  color: white;
  background-color: #01bfbd;
  padding: 4%;
  border-radius: 5px;
  border: none;
}
.imgprofile > img{
    border-radius: 50%;
    height: 50px;

}
.imgprofile >p{
    margin-left: 3px;
}

.para > p:nth-child(2) {
  margin-left: 50px;

  color: #3b5998;
}

.para > p:nth-child(3) {
  font-size: 35px;
  margin-left: 20px;
}

.para > p:nth-child(4) {
  /* margin-left: 15px; */
  font-weight: lighter;
  font-size: 20px;
  margin-top: -20px;
  margin-left: 20px;
}

.progressbox1 {
  width: 100%;
}
.h1box1 {
  color: #444;
  font-size: 30px;
  width: 65%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.parasupporter {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: #444;;
}

.sharewhatsapp {
  width: 250px;
  margin-left: 60%;
  border: none;
  color: #01bfbd;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.sharewhatsapp:hover{
  color: white;
  background-color: #01bfbd;
}

.campaignerbox1{
  width: 350px;
  height:300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #e8e8e8;
  font-size: 15px;
  border-radius: 10px;
  overflow-y: scroll;
   overflow-x:hidden; 
   /* overflow-y:hidden;   */
  
}
.showcontact img{
  /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
  }

  .showcontact{
    display: flex;
    justify-content: space-between;

  }
  .contactmsg{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 100px;
    margin-top: 10px;


  }
  
  .contactmsg>p{
    font-size: 20px;
    margin: 1%;
    color: gray;

    
  }
  .contactmsg>p:nth-child(2){
    color: #3b5998;
    text-transform: capitalize;
  }



.campaignerbox1>button{
  margin-left: 70%;
  border: none;
  margin-top: 5px;
  background-color: white;
  font-weight: bold;
}


.campaignerbox1>button:hover{
  cursor: pointer;
}
.campaignerbox1>p:nth-child(1){
  margin-left: 250px;
  color: grey;
  font-size: 15px;
  
}
.head{
    margin-top: 35px;
    margin-left: 10px;
}

.Fundraising{
  color:black;
  border: 1px solid #e8e8e8;
  background-color: rgb(255, 255, 255);
  width: 340px;
  height:50px;
  margin-top: 70px;
  border-radius: 10px;
  padding: 1%;
  border-bottom: none;
}

.data{
    display: flex;
    margin-left: 200px;;
    gap:50px;
    margin-top:300px;
    margin-bottom: 100px;
}
.delete{
    background-color: #01bfbd;
    border: #01bfbd;
    color: white;
    border-radius: 2px;
}
.share{
    border: 1px solid #3b5998;
    color: #3b5998;
    border-radius: 2px;

}
.Fundraisgplus {
  border: 50px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  border: 1px solid #3a9291;
  border-top: none;
}
.Fundraisgplus:hover{
  cursor: pointer;
}

.plus{
  display: flex;
  margin-top: 5%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height:50px;
  padding: 3%;
}
.donar{
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height:180px;
  padding: 3%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: none;

}

.showdonar img{
/* border: 1px solid black; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
.showdonar{
  display: flex;
  justify-content: space-between;

}
.showdonar>p:nth-child(2),.showdonar>p:nth-child(3){
  font-size:17px ;
}
.showdonar>p:nth-child(3){
  color: #01bfbd;
  font-weight: bold;
}




.donar:hover{
  overflow-y: scroll;
}


.donar1,.donar2{
display: flex;
justify-content: space-between;

}
.showmore{
  font-size: 15px;
  margin:auto;
  width: 100px;
}
.showmore>p{
  color: #01bfbd;
  font-weight: 200;
  font-size: 15px;
  margin-top: -3px;

}

.showmore>p:hover{
  cursor: pointer;
}
.donar1>p:nth-child(1),.donar2>p:nth-child(1){
  width: 30px;
  height:30px;
  border-radius: 50px;
  border: 1px solid #e8e8e8 ;
  padding: 2%;
  text-align: center;
  background-color:whitesmoke;
  color: #01bfbd;
}
.donar1>p:nth-child(3),.donar2>p:nth-child(3){

  color: #01bfbd;
  font-weight: bold;

}
.supporterdonated{
  width: 98%;
  height: 120px;
  background-color: #01bfbd;
  color: #e8e8e8;
  border-radius: 5px;
  margin: auto;
  font-size: 18px;
  text-align: center;
}
.supporterdonated>p{
  height: 20px;
}
.supporterdonated>p:nth-child(1){
font-weight: bold;
font-size: 18px;
padding: 4%;
height: 10px;
color: #e8e8e8;

}
.supporterdonated>p:nth-child(2){
  font-size: 15px;

  }


.donarsupporter{
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height:600px;
  padding: 3%;
}

.generous{
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  
}
.generous>p:nth-child(1){
  color: #01bfbd;
  margin-left: 50px;
}
.generous>p:nth-child(2){
  font-size: 20px;
}
.generous>p:nth-child(3){
margin-right: 40px;
}
.leftright{
  width: 300px;
  margin-left:60px ;
  color: gray;
}
.leftright:hover{
  cursor: pointer;
}

.progressBar{
    width: 100%;
    padding: 2px;
}
.progressBar progress{
    width: 90%;
    margin-left:5% ;
    
}
.font{
    color: rgb(172, 6, 6);
    padding: 2px;
}
.bold{
    font-weight: 600;
    font-family: sans-serif;
    font-style: normal;
}
.margin{
    margin-left: -15%;
    font-style: 14px;
}
.left1{
  display: flex;
  margin-left:60px ;
  padding: 5%;
  gap: 20px;
  font-size: 17px;
}
.left1>div{
  padding: 0.5%;
}

.left1>p:nth-child(1){
  font-weight: bold;
  font-size: 17px;
}
.left1>p:hover{
  cursor: pointer;
}

.displayitem{
  display: grid;
  width: 40%;
  height:300px;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10%;

}
.apiget{
  height: 200px;
  color: #444;
  margin-left: 40px;

}
.inputget{
  width: 600px;
  height: 40px;
  border-radius:20px ;
  /* border: 1px solid #e8e8e8; */
  margin-left: 10%;

}

.inputget>button{
  border-radius: 50%;
  height: 45px;
  border-color: white;
  background-color: white;
  border: none;
  width:50px;
    border: 1px solid #e8e8e8;
    margin-left: 1%;

  /* border: 1px solid white; */

  color: #01bfbd;

}
.inputget>button:hover{
  cursor: pointer;
}

.inputget>input{
  width: 502px;
  height: 40px;
  border-radius:20px ;
  border: 1px solid #e8e8e8;
  padding-left: 5%;
}
.inputget>input:focus{
outline: none;
}

.designheadget{
  display: flex;
  
}
.getimg>img{
  border-radius: 50px;
}
.bodyget{
  margin-top: 20px;
  width: 500px;
}

  
.apiContainer{
  margin-top: 40px;
  margin-left: 10%;
  /* border: 1px solid #e8e8e8; */
  background-color: rgb(255, 255, 255);
  height: auto;
}


/*---------------------- popup css --------------*/

.modalcontent{
  display: inline;
  position: absolute;
  top: 120%;
  left: 40%;
  transform: translate(-50%,-50%);
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e8e8;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 200px;
  margin-right: 100px;
}



.btnmodal{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: navajowhite;

}

body.active-modal{
  overflow-y: hidden;
}

.modalcontent>p:nth-child(1){
  color: rgb(19, 203, 106);
  font-size: 20px;
}
.modalcontent>p:nth-child(2){
  color: rgb(44, 153, 215);;
  font-size: 20px;

}
.modalcontent>p:nth-child(3){
  color: rgb(0, 119, 181);;;
  font-size: 20px;

}
.modalcontent>p:nth-child(4){
  color: rgb(59, 89, 152);
  font-size: 20px;

}

.modalcontent>p:nth-child(5){
  color: rgb(234, 67, 53);
  font-size: 20px;

}


/* plus modal */


.modalcontentplus{
  display: inline;
  position: absolute;
  top: 200%;
  left: 40%;
  transform: translate(-50%,-50%);
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e8e8;
  padding: 14px 28px;
  border-radius: 3px;
  /* max-width: 300px;
  min-width: 200px; */
  margin-top: 50px;
  margin:auto;
  width: 600px;
  height: 400px;
}
.btnmodal{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;

  
}



.plussign{
  display: grid;
  grid-template-columns: repeat(2,auto);


}


.pluschildleft{

  margin-top: 20px;
}
.pluschildleft>input{
  width: 250px;
  border-bottom: 1px solid black;
  border: none;
  background-color:#e8e8e8;
  height: 35px;
}
.pluschildleft>input:focus{
  width: 250px;
  border-bottom: 1px solid grey;
  border: none;
  height: 35px;
  outline: none;
}
.pluschildleft>button{
  border-bottom: 1px solid black;
  border: none;
  background-color:#01bfbd;
  height: 35px;
  width: 250px;
  margin-top: 15px;
}
.pluschildleft>p{
 text-align: center;
 width: 300px;
}

.modalcontentplus>p{
  text-align: center;
  color: #01bfbd;
  font-size: 25px;
  font-weight: 400;
}
.pluschildright>button{
  display: grid;
  width: 250px;
  height: 35px;
  gap: 30px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding: 1%;
}
.contributepop{

  display: inline;
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%,-50%);
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e8e8;
  padding: 14px 28px;
  border-radius: 20px;
  /* margin-top: 50px; */
  margin:auto;
  width: 600px;
  height: 500px;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}



.contributepop:hover{
  overflow: scroll;
  overflow-x:hidden;

}


.contributepop1{
  display: flex;
  justify-content: space-between;
  color: #01bfbd;
}

.contributepop1>p:nth-child(1){
  font-size: 25px;
}

.contributepop1>button{
  height: 25px;
  margin-top: 25px;
  border:  none;
  /* background-color: gray; */
  border-radius: 50%;
  color: #01bfbd;

}
.contributepopbutton{
  margin: auto;
  text-align: center;
  height: 30px;

}


.otherbtn{
  margin-top: 95px;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: 1 px solid #e8e8e8;
  /* background-color: rgb(255, 255, 255); */
  border: none;
  margin: 20px;



}

.contributepopbutton1{
  width: 200px;
  height: 50px;
  margin-top: 70px;
  margin-left: 220px;

}

.contributepopbutton>button{
  width: 100px;
  height: 35px;
  border-radius: 20px;
  border: 3 px solid #e8e8e8;
  border: none;
  margin: 20px;
}

.contributepopbutton>button:nth-child(3){
  background-color: #01bfbd;
}

.form{
  margin-top: 20px;
  margin-left: 50px;
  color: gray;
}
.input1,.input2,.input3{
  width: 450px;
  height: 50px;
  border: 1 px solid #e8e8e8;
  
}

.input1>input,.input2>input,.input3>input{
  width: 400px;
  height: 40px;
  border-bottom: 1px solid gray;
  border: none;
}
.inputbtn{
  display: flex;
  gap:20px;
  width: 400px;
  height: 50px;
  font-size: 13px;
  padding: 2%;
}

.inputbtn>div{
  width: 200px;
  height: 30px;
  border: 1px solid gray;
  /* border: none; */
  border-radius: 25px;
  padding: 2%;

}
.contributepopbutton>button:hover{
background-color: #01bfbd;
}

.inputbtn>div>p:nth-child(1){
  text-align: center; 
    margin-top: -20px;
    margin-left: 5px;
}
.inputbtn>div>p:nth-child(2){
  text-align: center; 
    margin-top: -20px;
    margin-left: 15px;
}
.inputbtn1>button{
  border: 1px solid #e8e8e8;
  border: none;
  border-radius: 25px;
  width: 280px;
  height: 40px;
  margin-left: 10%;
  margin-top: 2%;
}
.inputbtn1>button:hover{
  cursor: pointer;
}


.contributepop1>p:nth-child(2){
  color: #01bfbd;
  font-size: 25px;
  font-weight: bold;
}

.input1>input:focus,.input2>input:focus,.input3>input:focus{
  outline: none;
  border-bottom: 1px solid orangered;
}

/* about */
.aboutget{
  width: 400px;
}

.getimgupdate1{
  margin-top: 30px;
}
.getimgupdate1>img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.getdoc{
  width:500px;
}
.getdoc img{
  /* margin-right: 30px; */
  width: 500px;
}

.contactform{
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin-left:-500px ;
  
}
.contactform>input{
  width: 200px;
  height: 30px;
}


/* //contact form */


.contactpop{

  display: inline;
  position: absolute;
  top: 130%;
  left: 40%;
  transform: translate(-50%,-50%);
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e8e8e8;
  padding: 14px 28px;
  border-radius: 20px;
  /* margin-top: 50px; */
  margin:auto;
  width: 500px;
  height: 600px;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y:hidden;
}



.contactpop{
  font-size: 15px;
  height: 550px;

}
.contactpop>p{
  text-align: center;
  color: #444;

}
.contactinputparent{
width:600px ;
height: 600px;
}

.contactinput3>textarea{
  width: 450px;
  height: 200px;
  outline: none;
  
  border: none;
  background-color:rgba(197, 192, 192, 0.918);


}
.contactinputparentbutton{
  width: 460px;
  height: 45px;
  background-color: #01bfbd;
  color: white;
  margin: auto;
  border: none;
}

.btncon{
    width: 500px;
    height: 70px;
    margin-top:30px ;
}

.contactinput3{
  color: gray;
  opacity: 1;
  width: 450px;
  height: 200px;
  margin-top: 20px;
  background-color:white;
}
.contactinput3>input:focus{
  outline: none;
  border-bottom: 1px solid  #01bfbd;

}


.input2con{
  height: 30px;
  width: 200px;
  margin: 20px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;


}
.input2con:focus{
  outline: none;
  border-bottom: 1px solid grey;

}


